{% extends "base.html" %}
				{% block scripts %}
						function setDateForm() {
									document.getElementById('end').valueAsDate = new Date()
						};
						window.onload = setDateForm;
				{% endblock %}
				{% block body %}
				<form method=post>
				<div class="main-container">
						<div class="field">
								<div class="label" for="type_">Type</div>
						<div>
						<select class="form-control" name="type_" id="type_">
						<option value="All">All</option>
						{% autoescape false %}
						{{options}}
						{% endautoescape %}
						</select></div>
				</div>
				<div class="field">
						<div class="label" for="description">Description</div>
						<div><input class="form-control" type="text" name="description" id="description"></div>
				</div>
				<div class="field">
						<div class="label" for="start">Start Date</div>
						<div><input class="form-control" type="date" name="start" id="start"></div>
				</div>
				<div class="field">
						<div class="label" for="end">End Date</div>
						<div><input class="form-control" type="date" name="end" id="end"></div>
				</div>
		</div>
		<br>
		<table>
				<td><input class="form-control" type="password" name="password" id="password"></td>
				<td><input class="btn btn-info" type="submit" value="register"></td>
		</table>
		</form>
		<br>
				<p class="h2 fw-bold">Summary</p>
				<div class="row">
						 <div class="col"><p class="h6"><b>Records:&nbsp&nbsp</b>{{ records }}</p></div>
				  <div class="col"></div>
				</div>
				<br>
				<div class="row">
				  <div class="col"><p class="h3">Total</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <div class="col"></div>
				  <div class="col"><p class="h6 fw-bold">Sum</p></div>
				  <div class="col"><p class="h6">{{ sum }}</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <div class="col"></div>
				  <div class="col"><p class="h6 fw-bold">Median</p></div>
				  <div class="col"><p class="h6">{{ median }}</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <div class="col"></div>
				  <div class="col"><p class="h6 fw-bold">Mean</p></div>
				  <div class="col"><p class="h6">{{ mean }}</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <div class="col"></div>
				  <div class="col"><p class="h6 fw-bold">Std</p></div>
				  <div class="col"><p class="h6">{{ std }}</p></div>
				  <div class="col"></div>
				</div>
				<br>
				<div class="row">
				  <div class="col"><p class="h4">Max</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				{% autoescape false %}
				{{ max }}
				{% endautoescape %}
				</div>
				<br>
				<div class="row">
				  <div class="col"><p class="h4">Min</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				{% autoescape false %}
				{{ min }}
				{% endautoescape %}
				</div>
				<br>
				<br>
				<div class="row">
				  <div class="col"><p class="h3">Monthly</p></div>
				  <div class="col"></div>
				</div>
						<div class="row">
						  <div class="col"></div>
						  <div class="col"><p class="h6 fw-bold">Median</p></div>
						  <div class="col"><p class="h6">{{ medianmo }}</p></div>
						  <div class="col"></div>
						</div>
						<div class="row">
						  <div class="col"></div>
						  <div class="col"><p class="h6 fw-bold">Mean</p></div>
						  <div class="col"><p class="h6">{{ meanmo }}</p></div>
						  <div class="col"></div>
						</div>
						<div class="row">
						  <div class="col"></div>
						  <div class="col"><p class="h6 fw-bold">Std</p></div>
						  <div class="col"><p class="h6">{{ stdmo }}</p></div>
						  <div class="col"></div>
						</div>
						<div class="row">
						  <div class="col"></div>
						  <div class="col"><p class="h6 fw-bold">Max</p></div>
						  <div class="col"><p class="h6">{{ maxmo }}</p></div>
						  <div class="col"></div>
						</div>
						<div class="row">
						  <div class="col"></div>
						  <div class="col"><p class="h6 fw-bold">Min</p></div>
						  <div class="col"><p class="h6">{{ minmo }}</p></div>
						  <div class="col"></div>
						</div>
				<br>
				<br>
				<div class="row">
				  <div class="col"><p class="h3">Graphs</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <div class="col"><p class="h5">Cumulative Flow</p></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <img src="{{ url_for('static', filename=cumulative)}}" class="rounded" alt="Historic data">
				</div>
			<br>
				<div class="row">
				  <div class="col"><p class="h5">Monthly Flow</p></div>
				  <div class="col"></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <img src="{{ url_for('static', filename=monthly_flow)}}" class="rounded" alt="Historic data">
				</div>
			<br>
				<div class="row">
				  <div class="col"><p class="h5">Daily Flow</p></div>
				  <div class="col"></div>
				  <div class="col"></div>
				</div>
				<div class="row">
				  <img src="{{ url_for('static', filename=daily_flow)}}" class="rounded" alt="Historic data">
				</div>
		</div>
		{% endblock %}
