{% extends "base.html" %}
		{% block scripts %}
				function setDateForm() {
							document.getElementById('end').valueAsDate = new Date()
				};
				window.onload = setDateForm;
		{% endblock %}
		{% block body %}
				<form method=post>
				<div class="main-container">
						<div class="field">
								<div class="label" for="type_">Type</div>
						<div>
						<select class="form-control" name="type_" id="type_">
						<option value="All">All</option>
						{% autoescape false %}
						{{options}}
						{% endautoescape %}
						</select></div>
				</div>
				<div class="field">
						<div class="label" for="description">Description</div>
						<div><input class="form-control" type="text" name="description" id="description"></div>
				</div>
				<div class="field">
						<div class="label" for="start">Start Date</div>
						<div><input class="form-control" type="date" name="start" id="start"></div>
				</div>
				<div class="field">
						<div class="label" for="end">End Date</div>
						<div><input class="form-control" type="date" name="end" id="end"></div>
				</div>
		</div>
		<br>
		<table>
				<td><input class="form-control" type="password" name="password" id="password"></td>
				<td><input class="btn btn-info" type="submit" value="register"></td>
		</table>
		</form>
		{% autoescape false %}
		{{ msg }}
		{% endautoescape %}
		</div>
		{% endblock %}
