{% extends "base.html" %}
		{% block scripts %}
				function setDateForm() {
							document.getElementById('date').valueAsDate = new Date()
				};
				window.onload = setDateForm;
		{% endblock %}
		{% block body %}
		<form method=post enctype="multipart/form-data">
		<div class="main-container">
				<div class="field">
						<div class="label" for="type_">Type</div>
						<div>
						<select class="form-control" name="type_" id="type_">
						{% autoescape false %}
						{{options}}
						{% endautoescape %}
						</select></div>
				</div>
				<div class="field">
						<div class="label" for="description">Description</div>
						<div><input class="form-control" type="text" name="description" id="description"></div>
				</div>
				<div class="field">
						<div class="label" for="amount">Amount</div>
						<div><input class="form-control" type="decimal" name="amount" id="amount"></div>
				</div>
				<div class="field">
						<div class="label" for="date">Date</div>
						<div><input class="form-control" type="date" name="date" id="date"></div>
				</div>
		</div>
		<br>
		<table>
				<tr>
				<td><input class="form-control" type="file" id="file" name="file"></td>
				</tr>
				<tr>
				<td><input class="form-control" type="password" id="password" name="password"></td>
				<td><input class="btn btn-success" type="submit" value="register"></td>
				</tr>
		</table>
		</form>
		{% autoescape false %}
		{{ msg }}
		{% endautoescape %}
		</div>
		{% endblock %}
